<form>

    <h2>Thêm dự án</h2>
    <form action="">
        <div class="mb-3">
            <label for="">Mã dự án</label>
            <input type="text" class="form-control" name="maduan" />
        </div>
        <div class="mb-3">
            <label for="">Name</label>
            <input type="text" class="form-control" name="name" />
        </div>
        <div class="mb-3">
            <label for="">Trạng thái</label>
            <input type="text" class="form-control" name="status" />
        </div>
        <div class="mb-3">
            <label for="">Thành viên</label>
            <input type="text" class="form-control" name="member" />
        </div>
        <button class="btn btn-primary" (click)="onAddProject()">Add-Project</button>
    </form>

</form>